alacritty fuzzel niri fcitx5-chinese-addons fcitx5-gtk mpv chromium

qt5-wayland keepassxc

base
base-devel
btrfs-progs
devtools
go
linux
neovim
rustup
terminus-font

gtkmm3 open-vm-tools-wayland


pacstrap /mnt base base-devel btrfs-progs devtools go linux linux-firmware neovim rustup terminus-font intel-ucode sbctl iwd nvidia-open

{{- if eq .hardware "laptop" }}
{{- output "pacman" "-Qeq" -}}
{{- end }}
