[Unit]
Description=VMware HGFS Shared Folders
ConditionVirtualization=vmware
Requires=vmware-vmblock-fuse.service
After=vmware-vmblock-fuse.service

[Service]
Type=simple
ExecStartPre=/bin/mkdir -p /ntx
ExecStart=/usr/bin/vmhgfs-fuse .host:/E /ntx -f -o allow_other -o auto_unmount
ExecStop=/usr/bin/fusermount3 -u /ntx
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
