profile=high-quality
vo=gpu-next
{{- if eq .hardware "station" }}
gpu-api=vulkan
hwdec=nvdec
{{- end }}
{{- if eq .hardware "vmware" }}
gpu-api=opengl
hwdec=no
{{- end }}

sub-font="Noto Sans CJK SC Medium"
sub-auto=fuzzy
sub-file-paths=~~/de

border=no
osc=no
osd-bar=no
panscan=1.0
